
$contentsColor: hsl(125, 47%, 24% );
$contentsColorHoverd: hsl(125, 47%, 34% );
$contentsColorActived: hsl(135, 47%, 34% );

$darkThemeBackGround: hsl(223, 52%, 7% );
$darkThemeTextColor: hsl(223, 42%, 93% );

body{
    background-color: $darkThemeBackGround;
    color: $darkThemeTextColor; 
}

ul.aList{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li{
        text-align: center;
        width: calc(100%/3);
        display: block;
        background-color: $contentsColor; 
        &:hover{
            background-color: $contentsColorHoverd; 
        }
        a{
            color: inherit;
            text-decoration-line: none;
            display: block;
            &:active{
                background-color: $contentsColorActived; 
            }
        }
    }
}

section{
    display: block;
    padding: 12px;
}

#graduation{
    display: table;
    width: 100%;
}

.boxbox{
    height: 20px;
    @keyframes appearBox {
       from{
           transform: rotate(-315deg) scale(0.698);
       }
       to{
           transform: rotate(0deg) scale(1.0);
       } 
    }
    @for $i from 0 through 25 {
        .box#{$i} {
            background-color: hsl( $i*11 , 60%, 20% );
            float: left;
            width: calc(100%/26);
            height: 60px;
            text-align: center;
            transition: 0.1s ease-in;
            animation: appearBox $i*0.03s+0.8s 1 ease-in-out;
            &:hover{
                background-color: hsl( $i*11 , 60%, 30% );
                cursor: pointer;
            }
            &:active{
                background-color: hsl( $i*11 , 70%, 30% );
                transform: scale(1.5);
            }
        }
    }
}

hr{
    border: 2px inset hsl(223, 55%, 10%);
}

footer{
    padding: 12px;
    background-color: hsl(223, 58%, 11%);
    text-align: center;
    color: bisque;
}
