
$contentsColor: hsl(25, 87%, 84% );
$contentsColorHoverd: hsl(25, 87%, 74% );
$contentsColorActived: hsl(35, 87%, 74% );

body{
    padding: 12px;
}

ul.aList{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li{
        text-align: center;
        width: calc(100%/3);
        display: block;
        background-color: $contentsColor; 
        &:hover{
            background-color: $contentsColorHoverd; 
        }
        a{
            color: black;
            display: block;
            &:active{
                background-color: $contentsColorActived; 
            }
        }
    }
}

section{
    display: block;
}

#graduation{
    display: table;
    width: 100%;
}

.boxbox{
    height: 20px;
    @keyframes appearBox {
       from{
           transform: rotate(-315deg) scale(0.698);
       }
       to{
           transform: rotate(0deg) scale(1.0);
       } 
    }
    @for $i from 0 through 25 {
        .box#{$i} {
            background-color: hsl( $i*11 , 60%, 80% );
            float: left;
            width: calc(100%/26);
            height: 60px;
            text-align: center;
            transition: 0.1s ease-in;
            animation: appearBox $i*0.03s+0.8s 1 ease-in-out;
            &:hover{
                background-color: hsl( $i*11 , 60%, 60% );
                cursor: pointer;
            }
            &:active{
                background-color: hsl( $i*11 , 70%, 60% );
                transform: scale(1.5);
            }
        }
    }
}


footer{
    padding: 12px;
    background-color: hsl(7, 28%, 11%);
    p{
        text-align: center;
        color: white;
    }
}
